//Default Light Theme
$bg-top: hsl(225, 100%, 98%);
$bg-main: hsl(0, 0%, 100%);
$card-bg: hsl(227, 47%, 96%);
$smaller-text: hsl(228, 12%, 44%);
$bigger-text: hsl(230, 17%, 14%);

//dark theme colors
$dark-bg-top: hsl(232, 19%, 15%);
$dark-bg-main: hsl(230, 17%, 14%);
$dark-bg-top: hsl(232, 19%, 15%);
$dark-card-bg: hsl(228, 28%, 20%);
$dark-smaller-text: hsl(228, 34%, 66%);
$dark-bigger-text: hsl(0, 0%, 100%);