@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './_partial'; //variables and mixins
@import './_screens'; //responsive adjustments
@import './_slider'; //toggle dark mode

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: $font-size-base;
}

h1 {
    font-size: 24px;
}

h1,
.number {
    color: $bigger-text;
}

h3, h4
.under {
    color: $smaller-text;
}

body,
.container {
    margin: 0 auto;  
    justify-content: center;
    background-color: $bg-main;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 8%;
}

//Header
header {
    .page-title {
        padding-bottom: 20px;
    }
    .mode {
        padding: 20px 0;
    }
}

// mode slider and label
.mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        float: left;
    }
    input {
        float: right;
        cursor: pointer;
    }
}

//information boxes/cards
.box {
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: $card-bg;
    text-align: center;
    justify-content: center;
    padding: 1em;
    min-height: 150px;
    .number {
        font-weight: 700;
        margin: 0;
    }
    .today,
    h3 {
        margin: 0;
        font-weight: bold;
        font-size: 0.8rem;
    }
    .pos {
        color: $lime-green;
    }
    .neg {
        color: $bright-red;
    }
}

//specific for boxes of today's information
.box-today {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    .number {
        font-size: 2rem;
    }
}

.col-left {
    @include column(left);
}

.col-right{
    @include column(right);
}

// main boxes
.box-follow {
    .number {
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: -0.05em;
    }
    .under {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin: 0;
    }
}

//Social Media logos
img {
    width: 24px;
    height: 24px;
    align-self: flex-end;
}

//Dark Mode
.dark {
    background-color: $dark-bg-main;
    h1,
    .number {
        color: $dark-bigger-text;
    }
    h3, h4,
    .under {
        color: $dark-smaller-text;
    }
    .box {
        background-color: $dark-card-bg;
    }
}