@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './_partial'; //variables and mixins
@import './_screens'; //responsive adjustments
@import './_cards';
@import './_slider'; //toggle dark mode
@import './_light'; //default mode colors
@import './_dark'; //dark mode colors

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: $font-size-base;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

body,
.container {
    margin: 0 auto;  
    justify-content: center;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 20px 8%;
}

//Header
header {
    .page-title,
    .mode {
        padding: 40px 0;
    }
    h1, h3 {
        margin: 0;
    }
}

// mode slider and label
.mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        float: left;
    }
    input {
        float: right;
        cursor: pointer;
    }
}

//Social Media logos
img {
    width: 16px;
    height: 16px;
    align-self: flex-end;
}